
<section class="section section_advice">
    <div class="container">
        <div class="advice">
            <div class="section__title advice__title" data-aos="fade-up">5 главных советов врача-кардиолога</div>
            <div class="advice__box">
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">1. Следите за артериальным давлением</div>
                        <div class="advice__item-description">Заведите дневник здоровья, где будете отслеживать показания АД минимально 2-3 раза в день.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">2. Старайтесь контролировать эмоциональное состояние</div>
                        <div class="advice__item-description">Помимо разрушения нервных волокон, гормон стресса негативно влияет на работу сердечно-сосудистой системы. Стресс ускоряет обмен веществ, пульс и повышает давление в сосудах. Вследствие этого гипертоник моментально может ощущать дискомфорт в ушах, глазах и грудной клетке.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">3. Не забывайте про диету и физическую активность</div>
                        <div class="advice__item-description">Ограничьте потребление соли и сахара. Необходимо полностью исключить табак и алкоголь. При избыточном весе, постарайтесь снизить его. Лишняя жировая ткань в организме создает серьезную нагрузку на все системы органов, опорно-двигательный аппарат человека, заставляет сердце работать с удвоенной силой.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-name"><span>Vincent Chapman,</span> врач-кардиолог, член European Society of Cardiology</div>
                        <div class="advice__item-media" data-aos="fade" data-aos-delay="400"></div>
                        <div class="advice__item-title">4. Следите за показаниями анализов</div>
                        <div class="advice__item-description">Важно, чтобы показатели холестерина, гемоглобина, креатинина, электролитов, мочевой кислоты и других показателей были в пределах нормы.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">5. Принимайте витамины/Витаминные комплексы</div>
                        <div class="advice__item-description">При артериальной гипертензии обычные витаминные комплексы не подходят. Они не содержат необходимые компоненты для здоровья сердечно-сосудистой системы. Всем своим пациентам я выписываю Recardio. Его эффективность обусловлена взаимодействием ингредиентов, которые помогают очистить сосуды от холестериновых бляшек, снизить показатели АД и нагрузку на почки. Важное отличие Recardio от других препаратов – нормализация концентрации кислорода в крови. Давление поднимается при спазме сосуда и нехватке в плазме оксигена. Витамины группы В взаимодействуя с экстрактом пустырника, обеспечивают поддержание стабильно высокого уровня кислорода, предотвращая сужение сосудов и поднятия АД. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
