
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Rosaline Tucker,</div>
                    <div class="commits__age">42 года</div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="commits__description">
                        Хроническую гипертонию мне поставили 10 лет назад. Чтобы разгрузить организм от постоянного приема таблеток, врач выписал Recardio. Давление нормализовалось, прошла тяжесть, боли и шум в голове, перестало тянуть в груди и прошла бессонница. Пропив курс Recardio, я поняла, что слишком долго сидела на серьезных медикаментах из-за чего и начались проблемы с почками. Я рада, что сейчас мое давление и анализы в норме.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Jocelin Nash,</div>
                    <div class="commits__age">27 лет</div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="commits__description">
                        Я купила Recardio для родителей – они оба гипертоники. Мама и папа стали чувствовать себя гораздо лучше после приема. Проконсультировавшись с врачом, стала и сама принимать для профилактики. У меня очень высокий риск заболеть гипертонией, а Recardio расширяет сосуды, нормализует функции сердечно-сосудистой, нервной, иммунной систем организма. Спустя неделю прошли мои мигрени, я стала спать лучше. Это все результат очищения сердечно-сосудистой системы. Так что советую всем, у кого есть проблемы с давлением.


                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Jacob Randall,</div>
                    <div class="commits__age">54 года</div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="commits__description">
                        Купил Recardio по акции. Чуда не ждал, рассчитывал хотя бы на минимальные улучшения. Но через неделю заметил первые улучшения. Стал лучше спать и прекратились скачки давления. Пропил курс и проблема повышенного давления осталась, надеюсь, навсегда в прошлом. Показатели как у молодого парня – 120-80. Самочувствие хорошее, буду принимать для профилактики в дальнейшем.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
