
<div class="delivery">
    <div class="section__title delivery__title" data-aos="fade-up">Как заказать?</div>
    <div class="delivery__step">
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-1.jpg" alt=""></div>
            <div class="delivery__step-description">Заполните форму заказа</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-2.jpg" alt=""></div>
            <div class="delivery__step-description">Дождитесь звонка оператора</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-3.jpg" alt=""></div>
            <div class="delivery__step-description">Подтвердите заказ</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-4.jpg" alt=""></div>
            <div class="delivery__step-description">Внесите предоплату либо оплатите товар при получении</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-5.jpg" alt=""></div>
            <div class="delivery__step-description">Получите товар курьерской службой</div>
        </div>
    </div>
    <div class="delivery__wraning">
        <div class="delivery__wraning-info">
            <div class="delivery__wraning-title">Остерегайтесь подделок!</div>
            <div class="delivery__wraning-description">В связи с огромной популярностью Recardio, стали появляться фальсифицированные образцы. Оригинальный Recardio можно приобрести только на этом сайте.</div>
        </div>
        <div class="delivery__product">
            <img src="../media/product.png" alt="">
        </div>
        <div class="delivery__wraning-media">
            <div class="delivery__media-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-1.png" alt="">
            </div>
            <div class="delivery__media-item" data-aos="flip-left" data-aos-delay="100" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-2.png" alt="">
            </div>
            <div class="delivery__media-item" data-aos="flip-left" data-aos-delay="200" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-3.png" alt="">
            </div>
            <div class="delivery__media-item" data-aos="flip-left" data-aos-delay="300" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-4.png" alt="">
            </div>
        </div>
    </div>
</div>
