
<section class="section section_extract">
    <div class="container">
        <div class="extract">
            <div class="section__title extract__title" data-aos="fade-up"><mark>Натуральный состав —</mark> залог долголетия</div>
            <div class="extract__box">
                <div class="extract__item" data-aos="flip-left">
                    <div class="extract__name">Экстракт крапивы</div>
                    <div class="extract__description">Нормализует частоту сердечных сокращений и их ритм, расширяет сосуды и оказывает на них тонизирующее воздействие, снижает концентрацию холестерина в плазме крови.</div>
                </div>
                <div class="extract__item" data-aos="flip-right">
                    <div class="extract__name">Экстракт пустырника</div>
                    <div class="extract__description">Успокаивает нервную систему и нормализует сон. Способствует улучшению состава крови, её разжижению, снижению давления.</div>
                </div>
                <div class="extract__item" data-aos="flip-up">
                    <div class="extract__name">Экстракт боярышника</div>
                    <div class="extract__description">Обладает диуретическим эффектом, вследствие чего оказывает гипотензивное воздействие, тем самым уменьшая нагрузку на сердечно-сосудистую систему.</div>
                </div>
                <div class="extract__item" data-aos="flip-down">
                    <div class="extract__name">Витамины группы В</div>
                    <ul class="extract__list">
                        <li>— Выводят лишнюю жидкость.</li>
                        <li>— Помогают поддерживать необходимый тонус крупных и периферических сосудов.</li>
                        <li>— Обеспечивают эластичность миокарда.</li>
                        <li>— Способствуют нормализации сердечного ритма.</li>
                        <li>— Снимают спазм сосудов.</li>
                        <li>— Препятствуют образованию тромбов.</li>
                        <li>— Снижают уровень холестерина в крови.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
