
<div class="face">
    <div class="face__box">
        <div class="face__logo">Recardio</div>
        <div class="section__title face__title" data-aos="fade-up">скорая помощь <mark>для сердца и сосудов</mark></div>
        <div class="face__list">
            <div class="face__check" data-aos="fade-right">
                <mark>Укрепляет и очищает</mark> стенки сосудов
            </div>
            <div class="face__check" data-aos-delay="100" data-aos="fade-right">
                <mark>Растворяет</mark> холестериновые бляшки
            </div>
            <div class="face__check" data-aos-delay="200" data-aos="fade-right">
                <mark>Предотвращает</mark> осложнения
            </div>
            <div class="face__check" data-aos-delay="300" data-aos="fade-right">
                <mark>Нормализует</mark> давление
            </div>
        </div>
        <div class="face__product">
            <img src="../media/product.png" alt="Recardio">
        </div>
    </div>
    <div class="face__box">
        <%- include('form') %>
        <div class="face__plus">
            <div class="face__plus-item" data-aos="fade-up">Одобрено <br> European Society <br> of Cardiology</div>
            <div class="face__plus-item" data-aos-delay="100" data-aos="fade-up">Быстрое <br> действие</div>
            <div class="face__plus-item" data-aos-delay="200" data-aos="fade-up">Безопасный <br> состав</div>
        </div>
    </div>
</div>
