<head>
    <meta charset="utf-8">

    <title>РеКардио</title>
    <meta name="description" content="РеКардио – новая форма растительно-природного комплекса на основе биогенных концентратов растений и природных компонентов, направленных на регуляцию функций и состояния органов сердечно-сосудистой системы, на причины нарушений и сопутствующие изменения.">
    <meta itemprop="image" content="../media/share/image.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="РеКардио – новая форма растительно-природного комплекса на основе биогенных концентратов растений и природных компонентов, направленных на регуляцию функций и состояния органов сердечно-сосудистой системы, на причины нарушений и сопутствующие изменения.">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="рекардио, сердце, сердечная недостаточность, сердечно-сосудистой">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="РеКардио">
    <!-- описание страницы -->
    <meta property="og:description" content="РеКардио – новая форма растительно-природного комплекса на основе биогенных концентратов растений и природных компонентов, направленных на регуляцию функций и состояния органов сердечно-сосудистой системы, на причины нарушений и сопутствующие изменения.">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Помоги сердцу">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Помоги сердцу">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="РеКардио – новая форма растительно-природного комплекса на основе биогенных концентратов растений и природных компонентов, направленных на регуляцию функций и состояния органов сердечно-сосудистой системы, на причины нарушений и сопутствующие изменения.">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>
