
<section class="section section_saveAndChance">
    <div class="container">
        <div class="save">
            <div class="section__title save__title" data-aos="fade-up"><mark>Как сохранить</mark> сердце здоровым?</div>
            <div class="save__info">
                <p>Гипертония может не проявлять себя годами. Повышенное давление списывают на усталость, погоду или особенность организма. Когда появляются головные боли, бессонница или затрудненное дыхание, то в последнюю очередь думают на проблемы с сердцем. “Со мной все в полном порядке, просто жарко на улице”, – говорила моя мама, когда у нее появилась одышка.</p>
                <p>Мне страшно вспоминать тот день, когда я могла потерять ее… Примерно за 2 месяца до сердечного приступа она стала быстро уставать и жаловаться на головные боли. При всем этом давление не было высоким – 135/90. В день приступа мама чувствовала себя нормально и поехала в магазин. Позже мне позвонили из больницы и сказали, что она в реанимации. Все обошлось.</p>
                <p>Восстановление было очень долгим, и приступ мог повториться в любой момент. Давление по прежнему было 150/95. От большого количества таблеток пришли плохие анализы, что грозило развитием почечной недостаточности. Нужно срочно снизить количество ежедневно потребляемых таблеток. Но как? Ведь без них состояние моментально ухудшается.</p>
            </div>
            <div class="save__product">
                <div class="save__product-media">
                    <img src="../media/save/product.jpg" alt="">
                </div>
                <div class="save__product-info">
                    <p>Мы обратились за помощью в European Society of Cardiology. Кардиолог Vincent Chapman объяснил, что резко отменять назначенные препараты нельзя. Необходимо очистить сосуды и привести их в тонус. И только тогда постепенно снижать дозировку лекарств. Для чистки и укрепления сосудов он прописал Recardio.</p>
                    <p>Мама пропила курс и стала чувствовать себя гораздо лучше. Стала просыпаться бодрой, а не с головными болями. Прошли боли в груди, одышка и усталость. Общее состояние улучшилось, а анализы показывали нормальный уровень холестерина. Постепенно лечащий врач снизил дозировку лекарств. Через полгода по совету кардиолога мама пропила еще один курс Recardio.</p>
                </div>
            </div>
            <div class="save__footer">
                <p>В нем содержатся все необходимые витамины, которые улучшают сердечную работу. Сейчас давление мамы 125/80. Она чувствует себя отлично и больше не принимает много лекарств. Теперь я спокойна, что ей не грозят проблемы с почками. И самое главное – ее сердце такое здоровое, что прослужит еще очень долго. В жизни нет ничего важнее, чем близкие. Кто позаботится о них, если не мы?</p>
            </div>
        </div>
        <div class="chance">
            <div class="section__title chance__title" data-aos="fade-up"><mark>Recardio</mark> – надежная защита для сердца и сосудов </div>
            <div class="chance__box">
                <div class="chance__product">
                    <img src="../media/product.png" alt="Recardio">
                </div>
                <div class="chance__list">
                    <div class="chance__item" data-aos="fade-right">Нормализует показатели давления</div>
                    <div class="chance__item" data-aos="fade-right" data-aos-delay="100">Снижает концентрацию холестерина</div>
                    <div class="chance__item" data-aos="fade-right" data-aos-delay="200">Препятствует кислородному голоданию клеток</div>
                </div>
                <div class="chance__list">
                    <div class="chance__item" data-aos="fade-left">Очищает сосуды</div>
                    <div class="chance__item" data-aos="fade-left" data-aos-delay="100">Избавляет от головных болей и шума в ушах</div>
                    <div class="chance__item" data-aos="fade-left" data-aos-delay="200">Обеспечивает нормальный сосудистый тонус</div>
                </div>
            </div>
        </div>
    </div>
</section>
