
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="symptoms__subtitle">
                Миллионы людей не подозревают,
                <span>что находятся в зоне риска.</span>
            </div>
            <div class="section__title symptoms__title" data-aos="fade-up">Вам знакомы эти симптомы?</div>
            <div class="symptoms__box">
                <div class="symptoms__list">
                    <div class="symptoms__list-item" data-aos="fade-right">Головная боль и головaокружения</div>
                    <div class="symptoms__list-item" data-aos="fade-right">Шум в ушах</div>
                    <div class="symptoms__list-item" data-aos="fade-right">Быстрая утомляемость </div>
                    <div class="symptoms__list-item" data-aos="fade-right">Одышка и затрудненное дыхание</div>
                </div>
                <div class="symptoms__list">
                    <div class="symptoms__list-item" data-aos="fade-left">Появление ярких пятен перед глазами</div>
                    <div class="symptoms__list-item" data-aos="fade-left">Боль в груди</div>
                    <div class="symptoms__list-item" data-aos="fade-left">Носовые кровотечения</div>
                    <div class="symptoms__list-item" data-aos="fade-left">Покалывания, отдающие в левое плечо или шею</div>
                </div>
            </div>
            <div class="symptoms__product">
                <img src="../media/symptoms/human.png" alt="Human">
            </div>
        </div>
    </div>
</section>
