
.extract__title {
    margin-bottom: 30px;
    font-size: 61px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    & mark {
        color: #f02b4c;
    }
}

.extract__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
}

.extract__item {
    width: 484px;
    height: 484px;
    padding: 35px;
    margin-bottom: 30px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-child(1) {
        background-image: url("../media/extract/extract-1.jpg");
    }

    &:nth-child(2) {
        background-image: url("../media/extract/extract-2.jpg");
    }

    &:nth-child(3) {
        background-image: url("../media/extract/extract-3.jpg");
    }

    &:nth-child(4) {
        background-image: url("../media/extract/extract-4.jpg");
    }
}

.extract__name {
    max-width: 200px;
    margin-bottom: 30px;
    font-family: 'MontserratAlternates', sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
}

.extract__description {
    max-width: 240px;
    line-height: 1.4;

    & ul {
        list-style-type: none;

        & li {
            & + li {
                margin-top: 15px;
            }
        }
    }
}

.extract__list {
    line-height: 20px;
    list-style-type: none;

    & li {
        & + li {
            margin-top: 15px;
        }
    }
}

@media (max-width: 1030px) {
    .extract__item {
        width: calc(50% - 15px);
        height: auto;
    }
}

@media (max-width: 768px) {
    .extract__item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .extract__name {
        font-size: 24px;
    }

    .extract__description {
        font-size: 18px;
        line-height: 1.4;
    }

    .extract__list {
        font-size: 18px;
    }
}
