
.save {
    margin-bottom: 60px;
}

.save__title {
    margin-bottom: 40px;
    font-size: 71px;
    line-height: 62px;
    text-align: center;
    text-transform: uppercase;

    & mark {
        color: #f02b4c;
    }
}

.save__info {
    padding: 35px;
    background-image: url("../media/save/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & p {
        max-width: 500px;
        line-height: 21px;
        color: #fff;

        &:nth-child(2) {
            font-size: 20px;
            line-height: 25px;
            color: #f5d629;
        }

        & + p {
            margin-top: 25px;
        }
    }
}

.save__product-media {
    min-width: 333px;
    margin-right: 30px;
}

.save__product {
    display: flex;
    padding: 40px;
    background-color: #f6f6f6;
}

.save__product-info {
    & p {
        line-height: 21px;

        &:first-child {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 25px;
            color: #1273be;
        }
    }
}

.save__footer {
    padding: 20px 40px 20px 170px;
    line-height: 21px;
    color: #fff;
    background-color: #00305b;
    background-image: url("../media/save/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1030px) {
    .save__product {
        padding: 40px 15px;
    }

    .save__product-media {
        margin-right: 15px;
    }

    .save__product-info {
        & p {
            &:first-child {
                font-size: 18px;
                line-height: 1.2;
            }

            &:last-child {
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 768px) {
    .save__product {
        flex-direction: column;
        justify-content: center;
    }

    .save__product-media {
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
    }

    .save__footer {
        padding: 15px;
        background-image: none;
    }
}

@media (max-width: 480px) {
    .save__info {
        padding: 30px 15px;
        font-size: 18px;

        & p {
            line-height: 1.4;
        }
    }

    .save__product {
        padding: 30px 15px;
    }

    .save__product-media {
        min-width: 0;
        margin-bottom: 30px;
    }

    .save__product-info {
        font-size: 18px;

        & p {
            &:first-child {
                line-height: 1.4;
            }

            &:last-child {
                line-height: 1.4;
            }
        }
    }

    .save__footer {
        font-size: 18px;
        line-height: 1.4;
    }
}
